body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f3f3f3;
  color: #333;
}

h1 {
  text-align: center;
}

section {
  background: white;
  padding: 15px;
  margin: 20px auto;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

input[type="time"] {
  margin-right: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.lecture-box {
  background-color: #fff3cd;
  color: #856404;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #ffeeba;
}


#schedule-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}
.silent {
  color: red;
  font-weight: bold;
}

.normal {
  color: green;
  font-weight: bold;
}
